body {
    background-color: brown;
    min-width: 800px;
}

h1 {
    font-family: 'Lobster', cursive;
}

.content {
    width: 850px;
    display: inline-block;
    /*margin: 0 5%;*/
}

/*Set Size and Style of Articles*/
.clockMain {
    width: 30%;
    margin: 1.1%;
    background-color: rgba(234, 173, 66, 0.8);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px inset black;
}

.clockMain > img {
    width: 80%;
    border-radius: 100%;
    margin: 5% 10%;
    border: 2px solid black;
}

.clockMain h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0; 
}

.clockMain p {
    text-align: justify;
    padding: 5%;
}

/* Set and style the contacts page*/
#contactUs {
    float: left;
    width: 850px;
}

#contactUs h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    

}

#contactUs h4{
    font-family: 'Lobster', cursive;
    text-align: center;
    
}

#contactCall {
    border: 2px solid black;   
    display:inline-block;
    font-family: 'Lobster', cursive;
    background-color:  rgba(234,173,66,0.8);
    max-width: 20%;   
    float:left;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 10%;
}

#contactEmail {
   
    border: 2px solid black;   
    display:inline-block;
    font-family: 'Lobster', cursive;
    background-color:  rgba(234,173,66,0.8);
    max-width: 25%;
    float:left; 
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#contactFace {
    border: 2px solid black;      
    display:inline-block;
    font-family: 'Lobster', cursive;
    background-color:  rgba(234,173,66,0.8);
    max-width: 25%;
    float:left;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
}


#contactTweet {
    border: 2px solid black;   
    display:inline-block;
    font-family: 'Lobster', cursive;
    background-color:  rgba(234,173,66,0.8);
    max-width: 25%;
    float:left;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.contactImg{
    padding-left: 30%;
    padding-right: 30%;
}



.productMain {
    width: 20%;
    margin: 1.1%;
    background-color: rgba(234, 173, 66, 0.8);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px inset black;
}

.productMain > img {
    width: 80%;
    border-radius: 100%;
    margin: 5% 10%;
    border: 2px solid black;
}

.productMain h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0; 
}

.productMain p {
    text-align: justify;
    padding: 5%;
}
