body {
    background-color: brown;
    min-width: 800px;
}

h1 {
    font-family: 'Lobster', cursive;
}

.content {
    width: 850px;
    display: inline-block;
    margin: 0 5%;
}

/*Set Size and Style of Articles*/
.clockMain {
    width: 30%;
    margin: 1.1%;
    background-color: rgba(234, 173, 66, 0.8);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px inset black;
}

.clockMain > img {
    width: 80%;
    border-radius: 100%;
    margin: 5% 10%;
    border: 2px solid black;
}

.clockMain h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0; 
}

.clockMain p {
    text-align: justify;
    padding: 5%;
}



.productMain {
    width: 20%;
    margin: 1.1%;
    background-color: rgba(234, 173, 66, 0.8);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px inset black;
}

.productMain > img {
    width: 80%;
    border-radius: 100%;
    margin: 5% 10%;
    border: 2px solid black;
}

.productMain h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0; 
}

.productMain p {
    text-align: justify;
    padding: 5%;
}