body {
    background-color: brown;
}

h1 {
    font-family: 'Lobster', cursive;
}

.content {
    width: 90%;
    display: inline-block;
    margin: 0 5%;
    height: 600px;
}

/*Set Size and Style of Articles*/
.clockMain {
    width: 30%;
    margin: 1.1%;
    background-color: rgba(234, 173, 66, 0.8);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    border: 2px inset black;
}

.clockMain > img {
    width: 80%;
    border-radius: 100%;
    margin: 5% 10%;
    border: 2px solid black;
}

.clockMain h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 0;
    padding: 0; 
}

.clockMain p {
    text-align: justify;
    padding: 5%;
}