
/*Sets logo to specific size*/
li > img {
    width: 300px;
    display: inline-block;
    float: left;
    border: 2px solid black;
}


.nav {
    list-style: none;
    width: 800px;
    
}


.nav a {
    display: inline-block;
    float: right;
    padding: 10px;
    min-width: 50px;
    margin: 5% 10px 5% 10px;
    border: 2px solid black;
    border-radius: 60px;
    text-decoration: none;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background-color: gray;
    
}

.nav a:hover {
    background-color: #2b2b2b;
    color: #EAAD42;
}

.nav a:active {
    background-color: #2b2b2b;
    color: #EAAD42;
}
